*{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: #f3f3f3;
}
.white{
    background-color: #fff;
}
.grey{
    background-color: #DCDCDC;
}
.pink{
    background-color: #FFDEDE;
}

/* inicio do topo */
header{
    width: 100vw;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 22px;
    font-size: 45px;
    position: fixed;
    left: 0;
    top: 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
}
header img{
    width: 75px;
    height: 53px;
}
/* fim do topo */
/* inicio do conteudo */
main{
    margin-top: 90px;
    margin-bottom: 80px;
    width: 100vw;
    height: calc(100vh - 170px);
    overflow-y: scroll;
    overflow-x: hidden;
}
main .message{
    padding: 10px 8px;
    margin-bottom: 5px;
    border-radius: 2px;
    color: black;
    font-size: 14px;
    line-height: 20px;
    word-wrap: break-word;
}
main .message time{
    color: #AAAAAA;
}
main .message strong{
    font-weight: bold;
}
/* fim do conteudo */
/* inicio do bottom */
footer{
    width: 100vw;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 17px;
    font-size: 30px;
    position: fixed;
    left: 0;
    bottom: 0;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
}
footer p{
    margin-top: 5px;
    font-size: 14px;
    font-weight: 300;
}
footer .inputs{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer input{
    width: 80vw;
    font-size: 18px;
    border: none;
    border-color: transparent;
}
footer input::placeholder{
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    color: black;
}
input:focus{
    outline: none;
}

/* fim do bottom */
/* bonus */
.login{
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login img{
    width: 130px;
    height: 92px;
    margin: 72px;
}
.login input{
    width: 261px;
    height: 54px;
    border: 1px solid #D7D7D7;
    border-radius: 4px;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 18px;
}
.login input::placeholder{
    display: flex;
    align-items: center;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}
.login button{
    width: 109px;
    height: 45px;
    background: #E7E7E7;
    border-radius: 9px;
    border: none;
    margin: 15px 0;
}
.login button:hover{
    filter: brightness(0.9);
}
.login.hidden{
    display: none;
}
aside .users{
    width: 70vw;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 5;
    background-color: #fff ;
    transition: all 150ms ease-in-out;
    font-size: 16px;
}
aside .blur{
    width: 30vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.6);
    transition: all 150ms ease-in-out;
}
aside.hidden .users{
    right: -70vw;
    opacity: 0;
}
aside.hidden .blur{
    opacity: 0;
    left: -30vw;
}
aside .users .itens-box h5{
    font-weight: bold;
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.aside-item{
    width: 100%;
    display: flex;
    align-items: center;  
    height: 36px;
    position: relative;
}
.aside-item ion-icon{
    font-size: 25px;
    margin: 0 10px 3px 20px;
}
.aside-item .checkmark{
    position: absolute;
    right: 10px;
    color: #28BB25;
    --ionicon-stroke-width: 64px;
    display: none;
}
.aside-item.selected .checkmark{
    display: initial;
}
/* fim do bonus */



